
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Angular Material style sheet -->
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
		<link rel="stylesheet" href="css/styles.css">
	</head>
	<body ng-app="MiApp" ng-controller="AppCtrl as ctrl" ng-cloak>


	<md-content class="wrapper" layout="column">
		<div class="md-padding" layout="column">
			<div class="md-margin">
				<md-card md-theme="dark">
					<md-card-title>
						<span class="md-subhead">Procesar datos</span>
					</md-card-title>
					<md-card-content>
						<md-input-container>
							<label>Ruta de archivo</label>
							<input ng-model="ctrl.ruta">
						</md-input-container>
					</md-card-content>
					<md-card-actions layout layout-align="end center">
						<md-button class="md-raised md-primary" ng-click="ctrl.getData()" ng-disabled="ctrl.loading">Aceptar</md-button>
					</md-card-actions>
				</md-card>
			</div>
			<div class="md-margin" ng-repeat="type in ctrl.types">
				<ng-include src="'tpl/item.html'"></ng-include>
			</div>
		</div>
	</md-content>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<!-- Angular Material requires Angular.js Libraries -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>
	<!-- Angular Material Library -->
	<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

	<!-- APP -->
	<script src="js/app.js"></script>

	<!-- CONFIG -->
	<script src="js/app.config.js"></script>

	<!-- SERVICES -->
	<script src="js/app.services.js"></script>

	<!-- FACTORIES -->
	<script src="js/app.factory.js"></script>

	<!-- CONTROLLERS -->
	<script src="js/app.controller.js"></script>

	</body>
</html>