<span class="md-title md-padding">{{ type.toUpperCase() }}</span>
<md-card>
    <md-card-title layout="column">
        <div layout="row">
            <span class="md-body-2 label-table" flex>Código</span>
            <span class="md-body-2 label-table" flex>Nombre</span>
            <span class="md-body-2 label-table" flex>Código Padre</span>
            <span class="md-body-2 label-table" flex>Descripción Padre</span>
        </div>
    </md-card-title>
    <md-divider></md-divider>
    <md-card-content ng-if="ctrl.loading" layout layout-align="center center">
        <md-progress-circular md-mode="indeterminate" class="md-primary"></md-progress-circular>
    </md-card-content>
    <md-card-content layout="column" ng-if="!ctrl.loading">
        <p ng-if="!ctrl.hasData()">No hay datos para mostrar</p>
        <div layout="row" ng-repeat="item in ctrl.items | filter: { type: type } | unique: 'code'">
            <p class="md-body-1" flex>{{ item.code }}</p>
            <p class="md-body-1" flex>{{ item.name }}</p>
            <p class="md-body-1" flex>{{ item.parent.code || '-' }}</p>
            <p class="md-body-1" flex>{{ item.parent.name || '-' }}</p>
        </div>
    </md-card-content>
</md-card>